#main {
    /* height: 1446px; */
    color: #fff;
    /* background-image: url("../Images/StacyAndIgii.jpg"); */
    background-size: 100%;
    background-size: cover;
    background-color: black;
  }


  .example-container {
    /* width: 500px;
    height: 300px; */
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    /* padding: 20px; */
    width: 30vw;
  }

  .container {
    display: block;
    height: 500px;
    width: 500px;
    padding: 2em;
  }