#main {
    /* height: 1446px; */
    color: #fff;
    /* background-image: url("../Images/StacyAndIgii.jpg"); */
    background-size: 100%;
    background-size: cover;
    background-color: black;
  }
